<ion-grid [fixed]="true">
  <ion-row class="ion-align-items-center ion-justify-content-center">
    <ion-col size="12" size-sm="10" size-md="8" size-lg="6"
      ><ion-card>
        <ion-card-header class="ion-text-center"> Login </ion-card-header>
        <form [formGroup]="formLogin">
          <ion-row class="ion-align-items-center ion-justify-content-center">
            <ion-input
              class="ion-margin"
              type="email"
              fill="solid"
              label="Email"
              [autocomplete]="true"
              labelPlacement="floating"
              errorText="Email invalido o requerido"
              formControlName="email"
            ></ion-input>

            <ion-input
              class="ion-margin"
              type="password"
              fill="solid"
              label="Password"
              [autocomplete]="true"
              labelPlacement="floating"
              errorText="Password es requerido"
              formControlName="password"
            ></ion-input>
            <ion-button (click)="singIn()" class="ion-margin-bottom"
              >Login</ion-button
            >
          </ion-row>
        </form>

        <ion-toast
          [isOpen]="isToastOpen"
          [message]="welcomeMessage"
          [duration]="3000"
          [icon]="toastIcon"
          [color]="toastColor"
          (didDismiss)="setOpen(false)"
        ></ion-toast> </ion-card
    ></ion-col>
  </ion-row>
</ion-grid>
